* {
    box-sizing: content-box;
}

body {
    background-image: url(../img/emilia-about.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1000px 700px;
    background-position-x: 325px;
    background-position-y: 0px;
    box-sizing: content-box;
}

#enlaces-about {
    font-family: 'Raleway';
    margin-top: 6vh;
    text-align: right;
    padding-top: 3vh;
    background-color: rgba(255, 255, 255, 0.5);
    height: 9vh;
}

#iconos {
    float: right;
    margin-top: 3vh;
}

#titulo {}