body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/emilia-home.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1100px 680px;
    background-position-x: 365px;
    background-position-y: -20px;
}

.iconos {
    margin-left: 6vh;
    margin-bottom: 15vh;
}

#enlaces {
    list-style: none;
}

#emilia-cole {
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 3vw;
    margin-left: 6vh;
    position: relative;
    height: 30vh;
}

.titulo {
    font-family: 'Raleway';
    font-size: 400%;
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    font-family: 'Work Sans';
    font-size: 20;
}